body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #343434;
}

.content-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  margin: 0 auto;
}

.new-task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.new-task-button {
  background: none;
  background-color: #fcfbfc;
  border: 1px solid #343434;
  height: 27px;
  padding: 0 5px;
  margin: 0;
  font-size: 15px;
  color: #343434;
}

.new-task-button:hover {
  background-color: #e8e8e8;
}

.new-task-button:active {
  background-color: #b3b0b0;
}